<div class="container-fluid">
    <div class="row align-items-stretch rounded-5 overflow-hidden bg-white m-3"
        style="box-shadow: 0 4px 30px rgba(0,0,0,0.10);">
        <!-- Left: Green Card Content -->
        <div class="col-lg-6 p-0">
            <div class="h-100 d-flex flex-column justify-content-center p-5 about-card ">
                <h1 class="fw-bold mb-4 display-4 text-white">About Us</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
                    accumsan lacus vel facilisis.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
                <p>
                    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                    facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                    maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <!-- Right: Image -->
        <div class="col-lg-6 p-0">
            <img src="/assets/img/about.jpg" alt="About Us" class="img-fluid h-100 w-100 object-fit-cover"
                style="min-height: 100%; object-fit: cover;">
        </div>
    </div>
</div>