<!-- Hero Banner Section -->
<section class="afrobuild_banner">
    <div class="hero-section">
        <h1>Top-Notch Building Materials & Construction Solutions,<br> <span
                style="color: var(--primary-color);">AfroBuildList </span> Delivers</h1>
        <p>AfroBuildList is your trusted marketplace for high-quality, competitively priced building materials across
            Africa. Whether you're building from within the continent or abroad, we connect you to verified suppliers
            with secure transactions and dependable delivery.
            .</p>
    </div>
</section>

<!-- Services Navigation -->
<section class="services-nav-container">
    <div class="row gy-4">
        <div class="col-md-12">
            <div class="categories-slider-wrapper">
                <div id="categories-nav" class="categories-slider d-flex"></div>
            </div>

        </div>
    </div>
</section>


<style>
    .categories-slider-wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .categories-slider {
        display: flex;
        gap: 1rem;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    /* Hide Scrollbar */
    .categories-slider::-webkit-scrollbar {
        display: none;
    }

    .category-item {
        flex: 0 0 auto;
        width:160px;
        text-align: center;
    }

    .categories-slider:hover {
        cursor: grab;
    }
</style>