<div class="container-fluid afrobuild_middle_container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h4 class="pull-right">Ready to get started <br> <span style="color:#27a020;">Join the family</span></h4> 
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="variant">
                    <div class="button-container">
                        <button class="btn btn-join">Join Now</button>
                        <button class="btn btn-browse">Browse More</button>
                    </div>
                </div>
            </div>
        </div>
</div>
