<div class="container-fluid afrobuild_middle_container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h4 class="pull-right">Ready to get started <br> <span style="color:#27a020;">Join the family</span></h4> 
                    <p class="text-white">Sign up today and revolutionize how you manage construction projects in Africa—whether you're local or overseas.</p>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="variant">
                    <div class="button-container">
                        <button class="btn btn-join"><a href="/signup">Join Now</a></button>
                        <button class="btn btn-browse"><a href="/product" class="text-white">Browse Materials</a></button>
                    </div>
                </div>
            </div>
        </div>
</div>
