<section class="offers-section py-5">
    <div class="container">
        <div class="row align-items-center justify-content-between text-white">

            <!-- Left Side: Question + Icon -->
            <div class="col-lg-7 d-flex align-items-center">
                <div class="d-flex align-items-center w-100">
                    <div class="pr-4 border-right-custom">
                        <h2 class="mb-0 font-weight-bold text-white" style="font-size: 2.3rem;">
                            What are some<br>our offers?
                        </h2>
                    </div>
                    <div class="pl-4 pr-4 afro_about_img_custom">
                        <img src="/assets/img/Construction Worker.png" alt="Worker Icon"
                            style="width: 60px; height: auto;">
                    </div>
                </div>
            </div>

            <!-- Right Side: Buttons -->
            <div class="col-lg-5 text-lg-right text-center mt-4 mt-lg-0">
                <a href="#" class="btn btn-light btn-lg rounded-pill font-weight-bold px-4 mr-3">Get Started</a>
                <a href="#" class="btn btn-outline-light btn-lg rounded-pill font-weight-bold px-4">Learn More</a>
            </div>

        </div>
    </div>
</section>