<div class="container-fluid">
    <div class="row align-items-center">
        <!-- Left: Heading -->
        <div class="col-md-6 col-12 text-center text-md-start mb-3 mb-md-0">
            <h1 class="fw-bold" style="font-size: 2.5em;">
                Products That Fit<br>
                <span class="afrobuild_primary">Your Needs</span>
            </h1>
        </div>

        <!-- Right: Browse More -->
        <div class="col-md-6 col-12 text-center text-md-end">
            <a href="#">
                <h4 class="mb-0 mt-2 mt-md-5"><a href="/product">Browse More</a></h4>
            </a>
        </div>
    </div>

    <!-- Products Grid Section -->
    <section class="products-section py-5">
        <div class="container-fluid">
            <div class="row" id="productsContainer">
                <!-- Dynamic product cards will be inserted here -->
            </div>
        </div>
    </section>
</div>