<!DOCTYPE html>
<html lang="en">

<%- include('links/headlinks') %>

    <body class="index-page">

        <header id="header" class="header d-flex align-items-center sticky-top">
            <div class="container position-relative d-flex align-items-center justify-content-between">

                <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
                    <img src="assets/img/logo.png" alt="Logo">
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="help.html">Help Center</a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

                <nav class="navmenu">
                    <ul>
                        <li><a href="register.html">Register Service</a></li>
                        <li><a class="btn-login" href="login.html">Log In</a></li>
                        <li><a class="btn-getstarted" href="signup.html">Sign Up</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Main Content -->
        <main class="main">

            <!-- Hero Section -->
            <%- include('sections/hero') %>

            <!-- Service Section -->
            <%- include('sections/service') %>

        </main>



        <%- include('links/footlinks') %>
    </body>

</html>