<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
            <img src="assets/img/logo.png" alt="Logo">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/help">Help Center</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <nav class="navmenu">
            <ul>
                <li><a href="/register">Register Service</a></li>
                <li><a class="btn-login" href="/login">Log In</a></li>
                <li><a class="btn-getstarted" href="/signup">Sign Up</a></li>
            </ul>
        </nav>

    </div>
</header>